body:before {
  content:"";
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:-1;
  display:block;
  background-image: url("../images/backgroundV4.gif");
  background-color:#050113;
  background-position: center;
  background-size: cover;
}

* {
  margin: 0px;
  padding: 0px;
}
 
.container {
  margin: 0 auto;
  height: 487px;
  width: 421px;
  background-color: #81F57C;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
 
.curr-month {
  width: 100%;
  height: 80px;
  background-color: #81F57C;
  color: #050113;
  font-size: 40px;
  text-align: center;
  line-height: 80px;
}
 
.all-days {
  width: 100%;
  height: 40px;
  background-color: #81F57C;
  float: left;
  color: #050113;
  font-weight: bolder;
}
 
ul {
  list-style: none;
  display: block;
  height: 30px;
  width: 421px;
  margin: 0 auto;
  float: left;
}
 
ul li {
  float: left;
  width: 60px;
  text-align: center;
  /*padding:10px 0px;*/
 
  line-height: 41px;
}
 
.all-date {
  width: fit-content;
  height: 305px;
  float: left;
}
 
.all-date li {
  height: 60px;
  width: 59px;
  line-height: 60px;
  border-top: 1px solid #81F57C;
  border-left: 1px solid #81F57C;
  background-color: #050113;
}

.b-bottom {
  border-bottom: 1px solid #81F57C;
}
 
.b-right {
  border-right: 1px solid #81F57C;
}
 
.all-date li.monthdate:hover {
  background-color: #AE7CFA;
  color: #fff;
}

.all-date li.monthdate:active {
  background-color: #AE7CFA;
  color: #fff;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.flex-1 {
  height: 100px;
}

.btn {
  border: none;
}

.logo {
    height: 5em;
    width: 7%;
    margin-left: 1em;
    padding-right: 18px;
    background: url("../images/logo.svg") no-repeat;
}

.logo:hover {
    background: url("../images/logoHover.svg") no-repeat;
}

.m-4 {
  padding-bottom: 10px;
  color: #d3e0ea;
  background: url("../images/buttonWhite.svg") no-repeat;
}

.m-4:hover {
  color: #deecde;
  background: url("../images/buttonGreen.svg") no-repeat;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  width: 75%;
  padding-left: 1em;
  /*border: 2px solid yellow;*/
}  

.flex-child-1 {
  flex: 1;
  width: 25%;
  padding-left: 1em;
  /*border: 2px solid yellow;*/
}  

.flex-child:first-child {
  margin-right: 20px;
}

.btn-group {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
  display: block;
  text-align: center;
}

.lSideTop {
  padding-left: 1em;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-image: url("/../images/trackerbox3.svg");
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  /*border: 2px solid #81F57C;*/
}

.info {
  margin-left: 15%;
  padding-top: 10%;
  align-items: center;
  font-family: 'Noto Sans Mono', monospace;
  color: #e0f1ff;
}

#menu {
  margin: 0 auto;
  width: auto;
  display: block;
  margin-bottom: 1em;
}

.menu-control {
  background: url("../images/buttonGreen.svg") no-repeat;
  background-size: cover;
  width: 70px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  display: block;
}

#task-form {
  margin: auto;
  display: none;
  text-align: center;
  width:48%;
  margin-top: 1em;
  padding-bottom:1em;
  border: 2px solid #81F57C;
  border-radius: 25px;
}

/*#nameInput {
  width: 13em;
  align-items: center;
  text-align: center;
  display: block;
}*/

.priority {
  text-align: center;
  display: block;
}

.rating {
  padding-top: 0.2em;
  text-align: center;
  display: block;
}

.menu-title {
  font-family: 'Noto Sans Mono', monospace;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.25em;
}

.priority {
  font-family: 'Noto Sans Mono', monospace;
}

.input {
  width: 12em;
  margin-bottom: 1em;
  margin-right: .5em;
}

#help {
  position: absolute;
  bottom: 5px;
  right: 0px;
  margin-right: 1em;
  margin-bottom: 1em;
}