body:before {
    content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	display:block;
    background-image: url("../images/backgroundV4.gif");
    background-color:#050113;
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}

.flex-1 {
    height: 100px;
}

.logo {
    height: 5em;
    width: 7%;
    margin-left: 13px;
    padding-right: 18px;
    background: url("../images/logo.svg") no-repeat;
}

.logo:hover {
    background: url("../images/logoHover.svg") no-repeat;
}

.container {
    position: relative;
    margin: auto;
    margin-bottom: 10%;
    padding: 2% 10% 5% 10%;
    background: url("/../images/signupBackground4.svg") center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form-title {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: bold;
    padding-top: 30px;
    color: #e0f1ff;
}

.login-form {
    width: 50%;
    margin: 0 auto;
}

.form-control {
    margin: 0 auto;
    padding-bottom: 10px;
}

.label-text {
    font-size: 15px;
    font-family: 'Noto Sans Mono', monospace;
    color:#e0f1ff;
}

input[type=email], input[type=password] {
    border: 1px solid;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 6px;
    font-size: 14px;
}

.form-submit {
    text-align: center;
}

input[type=submit] {
    margin: 10px auto;
    padding: 4px 6px;
    border: 1px outset;
    border-color: #A7CBE8;
    font-size: 14px;
    font-family: 'Noto Sans Mono', monospace;
    color: #e0f1ff;
}

input[type=submit]:hover {
    border: 1px inset;
    border-color: #81F57C;
    color: #81F57C;
}

.form-info {
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
    font-size: 14px;
    font-family: 'Noto Sans Mono', monospace;
    color:#e0f1ff;
}

.loginlink {
    font-style: italic;
}

.loginlink:hover {
    color: #81F57C;
}







/* SCREEN SIZE CHANGE EXCEPT I SUCK*/
@media screen and (max-width: 750px) {
    .container {
        margin: auto;
        margin-bottom: 10%;
        padding: 2% 10% 5% 10%;
    }
    
    .form-title {
        font-size: 22px;
        padding-top: 30px;
    }
    
    .login-form {
        width: 70%;
    }
    
    .form-control {
        margin: 0 auto;
        padding-bottom: 8px;
    }
    
    .label-text {
        font-size: 12px;
    }
    
    input[type=email], input[type=password] {
        height: 10px;
        border: 1px solid;
        padding-left: 8px;
        padding-right: 6px;
        font-size: 11px;
    }
    
    input[type=submit] {
        margin: 10px auto;
        padding: 4px 6px;
        border: 1px outset;
        font-size: 12px;
    }
    
    .form-info {
        margin-top: 1.5%;
        margin-bottom: 1%;
        font-size: 12px;
    }
}